* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.container {
    display: flex;
    height: 100vh;
}

.left-section {
    width: 30%;
    padding: 20px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.right-section {
    width: 70%;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}



.page {
    height: 100vh;
    scroll-snap-align: start;
    padding: 20px;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
